.archive-table {
  font-family: monospace;
  width: 75%;
  margin: auto;
}

.search-bar {
  font-family: monospace;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 50px;
}

.archive-table header {
  background: black;
}
