* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #cf170a;
  margin: auto;
  background-color: black;
  line-height: 1.2;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: Monospace;
  color: #cf170a;
  line-height: 1.25;
}

li {
  margin: 10px 0;
}

main {
  padding: 0px 50px;
}

.show-link {
  padding: 15px;
  font-family: monospace;
  display: block;
  margin-bottom: 10px;
}

.show-flyer {
  display: block;
  margin: 0 auto;
}

.show-item {
  margin-bottom: 20px;
}

.show-link:link {
  color: #9e07f5;
}

.show-link:visited {
  color: #9e07f5;
}

.show-link:active {
  color: lime;
}

.show-link:hover {
  color: white;
}

.show-link {
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; // Optional: Adds some spacing around the button
}

.btn-toggle {
  padding: 10px 20px; // Optional: Adjusts the button padding
  font-size: 16px; // Optional: Adjusts the font size
}
